<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- responsive -->
    <title>{{ title if title else "Deals" }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Deals</h1>
    </header>

    <div class="container">
        <nav class="sidebar">
            <ul>
                <li><a href="/">Deals</a></li>
                <li><a href="/upload">Prospekt Upload</a></li>
            </ul>
        </nav>

        <main class="main-content">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>

</html>